.chat-img img {
  width: 40px;
  height: auto;
  border: 3px solid #674f91;
  margin: 0px 10px;
}

.chat{
    margin: 0;
    padding: 0;
}

.chat li{
    list-style: none;
    background: #674f913b;
    padding: 2px 4px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px;
    margin: 20px 5px;
}